<ng-container *ngIf="manualMode; else roboMode">
  <mat-card class="no-pad">
    <div style="padding: 16px 16px 0px 16px;">
      <mat-grid-list cols="5" rowHeight="25px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <div class="full-width light-grey bold">
            Current Trading Mode
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <button mat-button color="primary">
            Learn More <mat-icon style="margin-bottom: 3px;">info</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="120px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <div class="full-width">
            <img
              src="assets\images\male-avatar.png"
              alt="manual"
              style="height: 75px;"
            />
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="1">
          <div class="full-width">
            <h4 class="primary-color">MANUAL MODE ON</h4>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <mat-grid-list cols="1" rowHeight="40px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="full-width text-center bg-light-grey">
          <a class="primary-color" (click)="toggleModeClick()"
            ><h4>Auto-pilot? Switch to Robo Mode >></h4></a
          >
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</ng-container>
<ng-template #roboMode>
  <mat-card class="no-pad">
    <div style="padding: 16px 16px 0px 16px;">
      <mat-grid-list cols="5" rowHeight="25px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <div class="full-width light-grey bold">
            Current Trading Mode
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <button mat-button color="primary">
            Learn More <mat-icon style="margin-bottom: 3px;">info</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="120px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <div class="full-width">
            <img
              src="assets\images\trdr-robo.png"
              alt="robo"
              style="height: 100px;"
            />
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="1">
          <div class="full-width">
            <h4 class="primary-color">ROBO MODE ON</h4>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <mat-grid-list cols="1" rowHeight="40px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="full-width text-center bg-light-grey">
          <a class="primary-color" (click)="toggleModeClick()"
            ><h4>Take Control? Switch to Manual Mode >></h4></a
          >
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</ng-template>
