<!-- <div class="pad-2-2">
  <mat-grid-list cols="7" rowHeight="50px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <div class="full-width">
        <h3 class="primary-color">Signals</h3>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-list>
        <mat-list-item>
          <p matLine class="primary-color bold">Last updated</p>
          <p matLine class="light-grey">{{ dateObj | date: "medium" }}</p>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
  <br />
  <app-balance-card></app-balance-card>
  <br />
  <mat-card class="blue-bg-card" (click)="toggleModeClick()">
    <mat-grid-list cols="5" rowHeight="22px">
      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <div class="full-width">
          <h4>{{ selectMode }}</h4>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
<br />
<mat-tab-group mat-stretch-tabs>
  <mat-tab label="ALL">
    <div class="pad-2-2">
      <app-stocks-card filter="ALL"></app-stocks-card>
    </div>
  </mat-tab>
  <mat-tab label="BUY">
    <div class="pad-2-2">
      <app-stocks-card filter="BUY"></app-stocks-card>
    </div>
  </mat-tab>
  <mat-tab label="SELL">
    <div class="pad-2-2">
      <app-stocks-card filter="SELL"></app-stocks-card>
    </div>
  </mat-tab>
  <mat-tab label="HOLD">
    <div class="pad-2-2">
      <app-stocks-card filter="HOLD"></app-stocks-card>
    </div>
  </mat-tab>
</mat-tab-group>
<br /> -->
