<div>
  <mat-grid-list cols="2" rowHeight="40px" style="margin-bottom: 6px;">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="full-width">
        <h3 class="dark-primary-color no-margin">
          {{ stockTradeDetails.stockDetails.company }}
        </h3>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <p class="no-margin">
        Total:
        <span class="bold">{{
          stockTradeDetails.totalPrice | currency: "INR"
        }}</span>
      </p>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div>
    <p>Congrats!</p>
    You
    <span class="bold"
      >{{ stockTradeDetails.type == "BUY" ? "bought" : "sold" }}
      {{ stockTradeDetails.quantity }} shares</span
    >
    of
    <span class="bolder">{{ stockTradeDetails.stockDetails.company }}</span> at
    <span class="bold">{{
      stockTradeDetails.stockDetails.price | currency: "INR"
    }}</span>
    per share.
  </div>
  <br />
  <div class="text-right">
    <button mat-flat-button color="primary" (click)="okClick()">
      OK
    </button>
  </div>
</div>
