// https://github.com/angular/components/blob/master/src/material/home/style/_variables.scss

$mat-xsmall: "max-width: 599px";
$mat-small: "max-width: 959px";

// https://github.com/angular/components/blob/master/src/material/toolbar/toolbar.scss

$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile: 56px !default;
$mat-toolbar-row-padding: 16px !default;
