<div class="pad-2-2">
  <mat-card>
    <form [formGroup]="inputForm">
    <mat-form-field appearance="legacy" class="full-width">
      <mat-label>Mobile Number</mat-label>
      <input matInput formControlName="mobileNo" />
      <mat-error>Enter Mobile number</mat-error>
    </mat-form-field>
  </form><br>
  <h5>This app would like to:<br><h6>Fetch eKYC from Aadhaar</h6></h5>
  </mat-card>
</div>
<br />
<br />
  <button
    class="text-center"
    mat-raised-button
    class="full-width"
    color="primary"
    (click)="submit()"
  >
    CONTINUE
  </button>
