<mat-card class="no-pad margin-top-15px" *ngFor="let data of investments">
  <div style="padding: 16px 16px 0px 16px;">
    <mat-grid-list cols="5" rowHeight="60px">
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <div class="full-width bold light-grey">
          Invested
          <h3 class="black no-margin">
            {{ data.amount | currency: "INR" }}
          </h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="full-width text-center bold light-grey">
          P&L
          <h3 class="green no-margin">
            {{ data.pl | currency: "INR" }}
          </h3>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="primary-color">
          {{ data.company }}
        </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-grid-list cols="3" rowHeight="50px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="full-width text-center">
          <h5 class="no-margin light-grey">Holding Qty</h5>
          <h4 class="black no-margin">{{ data.holdingQty }}</h4>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="full-width text-center">
          <h5 class="no-margin light-grey">Buy Qty</h5>
          <h4 class="black no-margin">{{ data.buyQty }}</h4>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="full-width text-center">
          <h5 class="no-margin light-grey">Sold Qty</h5>
          <h4 class="black no-margin">{{ data.soldQty }}</h4>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider [inset]="true"></mat-divider>
    <mat-grid-list cols="2" rowHeight="32px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4 class="light-grey">
          Buy Avg :
          <span class="black">{{ data.buyAvg | currency: "INR" }}</span>
        </h4>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h4 class="light-grey">
          Sold Avg :
          <span class="black">{{ data.sellAvg | currency: "INR" }}</span>
        </h4>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</mat-card>
