<div class="pad-2-2 div-center">
  <mat-card class="full-width">
    <h3 class="primary-color">{{ stockDetails.company }}</h3>
    <mat-divider [inset]="true"></mat-divider>
    <br />
    <mat-grid-list cols="2" rowHeight="20px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <span class="light-grey">Price: </span>
        {{ stockDetails.price | currency: "INR" }}
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <span class="light-grey">Total: </span
        >{{ calculateTotal() | currency: "INR" }}
      </mat-grid-tile>
    </mat-grid-list>
    <br />
    <form [formGroup]="inputForm">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label class="light-grey">Quantity</mat-label>
        <input matInput formControlName="quantity" />
        <mat-error>Enter Quantity</mat-error>
      </mat-form-field>
    </form>
    <br />
    <mat-grid-list cols="3" rowHeight="40px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-button class="cancel-button" (click)="cancelClick()">
          CANCEL
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-button class="buy-button" (click)="buyClick()">
          BUY
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-button class="sell-button" (click)="sellClick()">
          SELL
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
