<mat-card class="no-pad margin-top-15px" *ngFor="let data of stocks">
  <div style="padding: 16px 16px 0px 16px;">
    <mat-grid-list cols="3" rowHeight="22px" style="margin-bottom: 6px;">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="full-width">
          <h3 class="dark-primary-color no-margin">
            {{ data.company }}
          </h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h3 class="no-margin {{ statusColor(data.status) }}">
          {{ data.status }}
        </h3>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider [inset]="true"></mat-divider>
    <mat-grid-list cols="2" rowHeight="60px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="full-width text-right">
          <p class="no-margin light-grey">
            Price:
            <span class="bold black">{{ data.price | currency: "INR" }}</span>
          </p>
          <p class="no-margin light-grey">
            Stop Loss:
            <span class="bold black">{{
              data.stopLoss | currency: "INR"
            }}</span>
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="full-width text-right">
          <p class="no-margin light-grey">
            Target:
            <span class="bold black">{{ data.target | currency: "INR" }}</span>
          </p>
          <p class="no-margin light-grey">
            Change(%):
            <span class="bold black">{{ data.change }}</span>
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-grid-list cols="1" rowHeight="40px" class="margin-top-10px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <ng-container *ngIf="manualMode; else roboMode">
        <div class="full-width bg-light-grey" style="padding-left: 16px;">
          <a class="primary-color" (click)="tradeRoute(data)"
            ><h5>Click to BUY / SELL >></h5></a
          >
        </div>
      </ng-container>
      <ng-template #roboMode>
        <div class="full-width bg-light-grey" style="padding-left: 16px;">
          <h5 class="primary-color">ROBO MODE ON</h5>
        </div>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
