<mat-card class="fund-card">
  <mat-grid-list cols="8" rowHeight="32px">
    <mat-grid-tile [colspan]="5" [rowspan]="1">
      <div class="full-width grey bold" style="font-size: 14px;">
        Money available for investing
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <button mat-button color="primary">
        <mat-icon style="margin-bottom: 3px;">add</mat-icon> Add Funds
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="20px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="full-width">
        <h3 class="black no-margin">
          {{ walletbalance | currency: "INR" }}
        </h3>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
