<div class="pad-5-5">
  <mat-grid-list cols="6" rowHeight="30px">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="full-width">
        <h4>Create Account</h4>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <button mat-button color="primary" (click)="nextRoute()">
        Skip<mat-icon class="primary-color">keyboard_arrow_right</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <h3 class="primary-color">PAN Details</h3>
  <div class="text-center">
    <form [formGroup]="inputForm">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>PAN Number</mat-label>
        <input matInput formControlName="panNumber" />
        <mat-error>Enter Pan Number</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Father's Name</mat-label>
        <input matInput formControlName="fatherName" />
        <mat-error>Enter Father's Name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error>Enter First Name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error>Enter Last Name</mat-error>
      </mat-form-field>
    </form>
  </div>
  <br />
  <div class="full-width upload-div text-center">
    <p><span class="bold">+</span> Upload photo of PAN Card</p>
  </div>
  <br />
</div>
<div class="bottom-fixed-div">
  <mat-grid-list cols="1" rowHeight="60px">
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-button color="primary" (click)="backPath()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-grid-tile> -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button
        mat-raised-button
        color="primary"
        class="width-90"
        (click)="submit()"
      >
        NEXT
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
