<div class="pad-5-5">
  <h3 class="primary-color">Sign Up</h3>
  <p>Create new <span class="bold">capital float</span> account</p>
  <div class="text-center">
    <form [formGroup]="inputForm">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNo" />
        <mat-error>Enter Mobile number</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Create trdr password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-error>Enter password.</mat-error>
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Email ID</mat-label>
        <input matInput formControlName="emailId" />
        <mat-error>Enter Email id</mat-error>
      </mat-form-field>
    </form>
  </div>
  <section>
    <mat-checkbox [(ngModel)]="myModel"
      >I accept the <span class="primary-color bold">T&C</span> and
      <span class="primary-color bold">privacy policy </span>of
      Capital Float</mat-checkbox
    >
  </section>
  <br />
  <button
    class="text-center"
    mat-raised-button
    class="full-width"
    color="primary"
    (click)="submit()"
  >
    SIGN UP
  </button>
  <h4 class="text-center">
    Already have an Account ?
    <a (click)="signInRoute()" class="primary-color">Sign In</a>
  </h4>
</div>
<br />
