<div class="pad-5-5">
  <mat-grid-list cols="6" rowHeight="30px">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="full-width">
        <h4>Create Account</h4>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <button mat-button color="primary" (click)="nextRoute()">
        Skip<mat-icon class="primary-color">keyboard_arrow_right</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <h3 class="primary-color">Aadhaar Details</h3>
  <div class="text-center">
    <form [formGroup]="inputForm">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Aadhaar Number</mat-label>
        <input matInput formControlName="aadhaarNumber" />
        <mat-error>Enter Aadhaar Number</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>State</mat-label>
        <input matInput formControlName="state" />
        <mat-error>Enter Sate</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" />
        <mat-error>Enter City</mat-error>
      </mat-form-field>
      <!-- <mat-form-field appearance="legacy" class="full-width">
        <mat-label>City</mat-label>
        <mat-select [formControl]="citySelected">
          <mat-option *ngFor="let data of city" [value]="data.value">
            <div mat-line>
              <div class="inline-block-element">{{ data.value }}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>State</mat-label>
        <mat-select [formControl]="stateSelected">
          <mat-option *ngFor="let data of state" [value]="data.value">
            <div mat-line>
              <div class="inline-block-element">{{ data.value }}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Address on Aadhaar card</mat-label>
        <input matInput formControlName="addressAadhaar" />
        <mat-error>Enter Address on Aadhaar card</mat-error>
      </mat-form-field>
    </form>
  </div>
  <br />
  <div class="full-width upload-div text-center">
    <p><span class="bold">+</span> Upload photo of Aadhar Card</p>
  </div>
  <br />
</div>
<div class="bottom-fixed-div">
  <mat-grid-list cols="1" rowHeight="60px">
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-button color="primary" (click)="backPath()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-grid-tile> -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button
        mat-raised-button
        color="primary"
        class="width-90"
        (click)="submit()"
      >
        NEXT
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
