<div class="pad-5-5">
  <mat-grid-list cols="6" rowHeight="30px">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="full-width">
        <h4>Create Account</h4>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <button mat-button color="primary" (click)="nextRoute()">
        Skip<mat-icon class="primary-color">keyboard_arrow_right</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <h3 class="primary-color">Additional Details</h3>
  <div class="text-center">
    <form [formGroup]="inputForm">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Occupation</mat-label>
        <mat-select [formControl]="occupationSelected">
          <mat-option
            *ngFor="let occupation of occupation"
            [value]="occupation.value"
          >
            <div mat-line>
              <div class="inline-block-element">{{ occupation.value }}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Marital Status</mat-label>
        <mat-select [formControl]="maritalstatusSelected">
          <mat-option *ngFor="let marital of marital" [value]="marital.value">
            <div mat-line>
              <div class="inline-block-element">{{ marital.value }}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Gross Annual Income</mat-label>
        <mat-select [formControl]="annualIncomeSelected">
          <mat-option *ngFor="let income of income" [value]="income.value">
            <div mat-line>
              <div class="inline-block-element">{{ income.value }}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Networth Date (as-on)</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Networth Value</mat-label>
        <input matInput formControlName="networthValue" />
        <mat-error>Enter Networth Value</mat-error>
      </mat-form-field>
    </form>
  </div>
  <br />
</div>
<div class="bottom-fixed-div">
  <mat-grid-list cols="1" rowHeight="60px">
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-button color="primary" (click)="backPath()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-grid-tile> -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button
        mat-raised-button
        color="primary"
        class="width-90"
        (click)="submit()"
      >
        DONE
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
