<div class="pad-5-5">
  <h3 class="primary-color">Sign In</h3>
  <p>with your account</p>
  <div class="text-center">
    <form [formGroup]="inputForm">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="userId" />
        <mat-error>Enter Email</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-error>Enter password.</mat-error>
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <h4 class="primary-color text-right"><a>Forgot Password?</a></h4>
  <button
    mat-raised-button
    class="full-width"
    color="primary"
    (click)="submit()"
  >
    SIGN IN
  </button>
  <h4 class="text-center">
    Don't have an Account ?
    <a (click)="signUpRoute()" class="primary-color">Sign Up</a>
  </h4>
</div>
<br />
