<!-- <div class="pad-2-2">
  <h3 class="primary-color text-left">My Profile</h3>
  <mat-card class="fund-card">
    <h4 class="primary-color no-margin">My Info</h4>
    <mat-grid-list cols="2" rowHeight="60px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >account_box</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item
                ><span class="primary-color"
                  ><b>Ricky jacob </b></span
                ></mat-list-item
              >
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >account_balance_wallet</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item>
                <span class="primary-color"
                  ><b>{{ walletbalance | currency: "INR" }}</b></span
                >
              </mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >business</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item
                ><span class="primary-color"
                  ><b>company name</b></span
                ></mat-list-item
              >
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >phone_iphone</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item>
                <span class="primary-color"><b>9497672721</b></span>
              </mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
    </mat-grid-list> </mat-card
  ><br />

  <mat-card class="primary-color">
    <h4 class="primary-color no-margin">Bank Details</h4>
    <mat-grid-list cols="2" rowHeight="60px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >account_box</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item
                ><span class="primary-color"
                  ><b>Account Name</b></span
                ></mat-list-item
              >
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >payments</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item>
                <span class="primary-color"><b>Account Number</b></span>
              </mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >account_balance</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item
                ><span class="primary-color"
                  ><b>Bank Name</b></span
                ></mat-list-item
              >
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >phone_iphone</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item>
                <span class="primary-color"><b>Linked Mobile</b></span>
              </mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
    </mat-grid-list> </mat-card
  ><br />

  <mat-card class="primary-color">
    <h4 class="primary-color no-margin">PAN Details</h4>
    <mat-grid-list cols="2" rowHeight="60px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >pause_presentation</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item
                ><span class="primary-color"
                  ><b>PAN Number </b></span
                ></mat-list-item
              >
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >perm_identity</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item>
                <span class="primary-color"><b>Father's Name</b></span>
              </mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile> -->
      <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >person</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item
                ><span class="primary-color"
                  ><b>First Name</b></span
                ></mat-list-item
              >
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon
              class="dark-primary-color"
              style="font-size: 28px;"
            ></mat-icon>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item
                ><span class="primary-color"
                  ><b>Last Name</b></span
                ></mat-list-item
              >
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile> -->
    <!-- </mat-grid-list> </mat-card
  ><br /> -->

  <!-- <mat-card class="primary-color">
    <h4 class="primary-color no-margin">Aadhar Details</h4>
    <mat-grid-list cols="2" rowHeight="60px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >web_asset</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item
                ><span class="primary-color"
                  ><b>Aadhaar Number </b></span
                ></mat-list-item
              >
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >location_city</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item>
                <span class="primary-color"><b>City</b></span>
              </mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >location_city</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item
                ><span class="primary-color"><b>State</b></span></mat-list-item
              >
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-grid-list cols="5" rowHeight="60px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-icon class="dark-primary-color" style="font-size: 28px;"
              >mail</mat-icon
            >
          </mat-grid-tile>
          <mat-grid-tile [colspan]="4" [rowspan]="1">
            <mat-list dense>
              <mat-list-item
                ><span class="primary-color"
                  ><b>Address</b></span
                ></mat-list-item
              >
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-grid-tile>
    </mat-grid-list> </mat-card
  ><br />
  <mat-card class="primary-color">
    <h4 class="primary-color no-margin">Other Details</h4>
    <mat-list dense role="list" class="primary-color">
      <mat-list-item role="listitem">Occupation : </mat-list-item>
      <mat-list-item role="listitem">Marital Status : </mat-list-item>
      <mat-list-item role="listitem">Gross Annual Income :</mat-list-item>
      <mat-list-item role="listitem">Networth Date (as-on) :</mat-list-item>
      <mat-list-item role="listitem">Networth Value :</mat-list-item>
    </mat-list>
  </mat-card>
  <br /> -->
  <div class="pad-2-2">
  <button mat-button color="primary" class="full-width" (click)="signOut()">
    <mat-icon class="margin-right-5px">exit_to_app</mat-icon>Sign Out
  </button>
</div>
<br />
