<owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)">
  <ng-template carouselSlide>
    <div class="full-height full-width">
      <mat-grid-list cols="1" rowHeight="30px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <!-- <h2 class="light-grey no-margin">
            Trdr <span class="primary-color">trdr</span>
          </h2> -->
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="338px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <img
            src="assets\images\trdr-logo-new.png"
            alt="logo"
            class="trdr-logo"
            style="margin-bottom: 25%;"
          />
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="20px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="width-80 text-center">
            <h4 class="light-grey no-margin">simple stock investing</h4>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="full-height full-width">
      <mat-grid-list cols="1" rowHeight="30px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <h2 class="light-grey no-margin">
            Robo <span class="primary-color">trdr</span>
          </h2>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="338px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <img src="assets\images\trdr-robo.png" alt="logo" class="trdr-robo" />
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="width-80 text-center">
            <h4 class="light-grey no-margin">
              India’s First Fully-automated Algo Trading Platform for retail
              investors
            </h4>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="full-height full-width">
      <mat-grid-list cols="1" rowHeight="30px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <h2 class="light-grey no-margin">
            Manual <span class="primary-color">trdr</span>
          </h2>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="338px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <img
            src="assets\images\trdr-manual.png"
            alt="logo"
            class="trdr-manual"
          />
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="width-80 text-center">
            <h4 class="light-grey no-margin">
              Follow signals. Click to Buy or Sell
            </h4>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </ng-template>
</owl-carousel-o>
<div class="bottom-fixed-div">
  <mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button
        *ngIf="showButton()"
        mat-button
        color="primary"
        class="width-80"
        (click)="signInRoute()"
      >
        Get Started >>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
