<div class="pad-5-5">
  <h3 class="primary-color">Create Account</h3>
 
  <div class="text-center">
    <form [formGroup]="inputForm">
      
  
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Partners</mat-label>
        <mat-select [formControl]="partnerForm">
          <mat-option
            *ngFor="let status of partnerStatus"
            [value]="status.value"
          >
            {{ status.value }}
          </mat-option>
        </mat-select>
        <mat-error>Select Gender</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Choose loan type</mat-label>
        <mat-select [formControl]="loanStatusForm">
          <mat-option
            *ngFor="let status of loanStatus"
            [value]="status.value"
          >
            {{ status.value }}
          </mat-option>
        </mat-select>
        <mat-error>Select Residential Status</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" />
        <mat-error>Enter Company Name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Operating since</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="operatingDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Operating as?</mat-label>
        <input matInput formControlName="operating" />
        <mat-error>Enter operating as?</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" />
        <mat-error>Enter city</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>PIN</mat-label>
        <input matInput formControlName="pin" />
        <mat-error>Enter PIN</mat-error>
      </mat-form-field>
      
    </form>
  </div>
  <br />
</div>
<div class="bottom-fixed-div">
  <mat-grid-list cols="1" rowHeight="60px">
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-button color="primary" (click)="backPath()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-grid-tile> -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button
        mat-raised-button
        color="primary"
        class="width-90"
        (click)="submit()"
      >
        NEXT
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
