@mixin crm-app-theme($theme) {

  a:active {
    font-weight: bold;
    color: mat-color(map-get($theme, accent), darker) !important;
  }

  .active {
    font-weight: bold;
    color: mat-color(map-get($theme, accent), darker) !important;
  }

}


@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */   
} 

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  ::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 3px;
  }

  ::-webkit-scrollbar {
    height: 3px;
    width: 3px;
  }

  .app-width {
    max-width: 438px;
    margin: auto;
  }

  .bottom-fixed-div {
    max-width: 438px;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  ::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 3px;
  }

  ::-webkit-scrollbar {
    height: 3px;
    width: 3px;
  }

  .app-width {
    max-width: 438px;
    margin: auto;
  }

  .bottom-fixed-div {
    max-width: 438px;
  } 
}
