<!--

  The App use's side navigation so we just need to include the Nav Component which hosts the Sidenav container and the
  Sidenav content area (i.e., the router-outlet).

-->

<div class="app-width">
  <app-nav></app-nav>
</div>
