@import "~@angular/material/theming";
@import "../fonts";
@import "../icons";
@import "../../../projects/utils/src/lib/angular-material/mat-variables";
@import "./mixins";
@import "./palette";
@import "./typography";
@import "../../../projects/utils/src/lib/angular-material/variables";

// Generate Material’s core styles

@include mat-core($custom-typography);
// @include mat-toolbar-typography($custom-toolbar-typography);

// Generate a Custom Theme

$light-theme: mat-light-theme(
  $light-theme-primary,
  $light-theme-accent,
  $light-theme-warn
);
// $dark-theme: mat-dark-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);

@include angular-material-theme($light-theme);

// Theme Custom components

@include crm-light-theme($light-theme);

// ------------------------------------------------------------------------------------------------------------------ //

$foreground: map-get($light-theme, foreground);
$background: map-get($light-theme, background);

// top, right, bottom, and left
// width: 100vw;
// height: 100vh;

// .mat-sidenav-container {
//   // height: 100vh;
//   height: 80vh;
// }

// https://github.com/angular/material2/blob/master/src/lib/home/style/_variables.scss

$light-primary-color: #dcd4ec;
$secondary-color: #e2e6e7;
$primary-color: #3e3560;
$dark-primary-color: #2f2848;
$gradient-shade: linear-gradient(160deg, #2f2848 0%, #3e3560 100%);
$primary-color-shadow: 0 8px 6px -6px rgba(62, 53, 96, 1);
$light-primary-color-shadow: 0 8px 6px -6px rgba(220, 212, 236, 1);

// auth-local - login, register

.mat-drawer-container {
  @media ($mat-xsmall) {
    background-color: white;
  }
}

// .mat-subheader {
//   font-size: 18px !important;
//   font-weight: 900 !important;
// }

// .mat-vertical-content {
//   padding: 24px 24px 24px 24px !important;
// }

.mat-sidenav {
  width: 280px;
}

.mat-header-row {
  // background-color: mat-color($light-theme-accent, 300);
  background-color: white;
}

.mat-footer-row {
  // background-color: mat-color($light-theme-accent, 300);
  background-color: white;
}

.mat-toolbar-row {
  background-color: white;
}

.mat-drawer-content {
  background-color: white;
}

.mat-grid-list {
  width: 100%;
}

.mat-datepicker-toggle-default-icon {
  color: $dark-primary-color;
  width: 1.5em !important;
  height: 1.5em !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $primary-color;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $primary-color;
}

.mat-form-field-appearance-legacy.mat-focused .mat-form-field-ripple {
  background-color: $dark-primary-color;
}

.mat-form-field-label {
  color: $primary-color !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: $dark-primary-color !important;
}

.mat-input-element {
  caret-color: $dark-primary-color;
}

.mat-tab-group .mat-tab-label {
  color: $dark-primary-color;
  font-weight: bold;
}

.mat-ink-bar {
  background-color: $dark-primary-color !important;
}

.mat-tab-labels {
  background: white;
}

.mat-tab-label-active {
  background: $light-primary-color;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $dark-primary-color;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $primary-color;
}

.mat-checkbox .mat-checkbox-frame {
  border-color: $dark-primary-color;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $primary-color;
}

.blue-bg-card {
  background: #24144c;
  box-shadow: 0 8px 6px -6px rgba(36, 20, 76, 1) !important;
  color: white;
}

.fund-card {
  background: $light-primary-color;
  box-shadow: $light-primary-color-shadow !important;
}

.upload-div {
  border: solid 1px $dark-primary-color;
  background: white;
  color: $dark-primary-color;
}

// .mat-fab.mat-primary {}

// .mat-mini-fab.mat-primary {}

.mat-raised-button.mat-primary {
  color: white;
  background-color: $primary-color;
  font-weight: bold;
  box-shadow: $primary-color-shadow !important;
}

.mat-flat-button.mat-primary {
  color: white;
  font-weight: bold;
  background-color: $primary-color;
}

.mat-stroked-button.mat-primary {
  color: $dark-primary-color;
  font-weight: bold;
  border: solid 1px $dark-primary-color;
}

.mat-button.mat-primary {
  font-weight: bold;
  color: $dark-primary-color;
}

.cancel-button {
  background: #efefef;
  color: black;
  font-weight: bold;
}

.buy-button {
  background: #d9ead3;
  color: black;
  font-weight: bold;
}

.sell-button {
  background: #f4cccc;
  color: black;
  font-weight: bold;
}

.mat-flat-button.mat-primary[disabled],
.mat-flat-button.mat-accent[disabled],
.mat-flat-button.mat-warn[disabled],
.mat-flat-button[disabled],
.mat-stroked-button.mat-primary[disabled],
.mat-stroked-button.mat-accent[disabled],
.mat-stroked-button.mat-warn[disabled],
.mat-stroked-button[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-accent[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled] {
  border: 2px solid rgba(0, 0, 0, 0.12);
  background-color: #eceff1;
  box-shadow: none !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $dark-primary-color !important;
}

.primary-color {
  color: $primary-color;
}

.dark-primary-color {
  color: $dark-primary-color;
}

.trading-mode-status {
  background: $light-primary-color;
  color: $primary-color;
  font-size: 18px;
}

.bold {
  font-weight: bold !important;
}

.bolder {
  font-weight: bolder !important;
}

.black {
  color: black;
}

.white {
  color: white;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.blue {
  color: navy;
}

.grey {
  color: grey;
}

.light-grey {
  color: #adacac;
}

.bg-white {
  background: white;
}

.bg-off-white {
  background: #fdfffc;
}

.bg-light-grey {
  background: lightgrey;
}

.bg-color {
  background: #f3f2f7;
}

.grid-list-flex {
  display: flex;
}

.grid-list-flex .left {
  margin-right: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.no-top-margin {
  margin-top: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.no-bottom-margin {
  margin-bottom: 0px !important;
}

.no-pad {
  padding: 0px !important;
}

.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container-center {
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
}

.inline-block-element {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.div-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-top-5px {
  margin-top: 5px !important;
}

.margin-top-10px {
  margin-top: 10px !important;
}

.margin-top-15px {
  margin-top: 15px !important;
}

.margin-left-5px {
  margin-left: 5px !important;
}

.margin-left-10perc {
  margin-left: 10% !important;
}
.margin-left-10px {
  margin-left: 10px !important;
}

.margin-right-5px {
  margin-right: 5px !important;
}

.margin-right-10perc {
  margin-right: 10% !important;
}
.margin-right-10px {
  margin-right: 10px !important;
}

.margin-bottom-5px {
  margin-bottom: 5px !important;
}

.margin-bottom-10px {
  margin-bottom: 10px !important;
}

.margin-bottom-15px {
  margin-bottom: 15px !important;
}

.width-5 {
  width: 5%;
}
.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 40%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}
.pad-5px {
  padding: 5px !important;
}

.pad-2px {
  padding: 2px !important;
}

.pad-right-10px {
  padding-right: 10px !important;
}

.pad-left-10px {
  padding-left: 10px !important;
}

.pad-10px-0px {
  padding: 10px 0px;
}

.pad-0px-30px {
  padding: 0px 30px;
}

.pad-0px-10px {
  padding: 0px 10px;
}

.pad-10px-30px {
  padding: 10px 30px;
}

.pad-10-10 {
  padding-left: 10%;
  padding-right: 10%;
}

.pad-5-5 {
  padding-left: 5%;
  padding-right: 5%;
}

.pad-2-2 {
  padding-left: 2%;
  padding-right: 2%;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  // background: rgba(0, 255, 255, 0.5);
  background: transparent;
  border: 0px;
}

.bottom-fixed-div {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer {
  height: 10vh;
  font-size: 10px;
  text-align: center;
  border-top: 1px solid lightgray;
  background: white;
}

.bg-transp {
  background-color: transparent;
}

.list-image {
  height: auto;
  width: 24px;
  float: left;
}

.list-image-div {
  margin-right: 30px;
}

.menu-selected {
  outline: none;
  color: $dark-primary-color;
  // .mat-icon {
  //   color: #27878e;
  // }
}

.menu-not-selected {
  outline: none;
  color: #adacac;
  // .mat-icon {
  //   color: #adacac;
  // }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}

.custom-toast {
  padding: unset;
  color: #383b41 !important;
  position: relative;
  overflow: hidden;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  margin-left: auto !important;
  margin-right: auto !important;
}

.custom-toast-message {
  width: 100%;
  padding-bottom: 10px;
  text-align: left;
  color: #383b41;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
}

.custom-toast-title {
  width: 100%;
  padding-bottom: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: $primary-color;
}

.mat-sidenav-container {
  // height: 100vh;
  .with-footer {
    height: 79.9vh;
  }

  .without-footer {
    height: 90vh;
  }
}
