<div class="pad-2-2">
  <h3 class="primary-color"></h3>
  <mat-card>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile><div class="rounded"></div></mat-grid-tile>
      <mat-grid-tile>
        <h4>NA , 7022602072</h4><br>
      </mat-grid-tile>
    </mat-grid-list>
  
  </mat-card><br>
  <mat-card>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile><div class="rounded"></div></mat-grid-tile>
      <mat-grid-tile>
        <h4>NA , 7022602072</h4><br>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card><br>
  <mat-card>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile><div class="rounded"></div></mat-grid-tile>
      <mat-grid-tile>
        <h4>NA , 7022602072</h4><br>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <!-- <br />
  <app-balance-card></app-balance-card>
  <br />
  <app-trading-mode-card></app-trading-mode-card>
</div>
<br /> -->
