<ng-container *ngIf="showHeaderNavBar; else noNavBar">
  <mat-toolbar color="primary" style="height: 10vh;">
    <ng-container *ngIf="!showBackButton; else backButton">
      <mat-toolbar-row style="height: 100%;">
        <!-- <button mat-icon-button (click)="toggleSidenav.emit()">
            <mat-icon class="menu-icon">menu</mat-icon>
          </button> -->
        <mat-grid-list cols="7" rowHeight="38px">
          <mat-grid-tile [colspan]="6" [rowspan]="1">
            <div class="full-width text-left" style="height: 38px;">
              <!-- <img
                src="assets\images\trdr-logo-new.png"
                alt="logo"
                class="logo"
              /> -->
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            
          </mat-grid-tile>
        </mat-grid-list>
      </mat-toolbar-row>
    </ng-container>
    <ng-template #backButton>
      <mat-toolbar-row style="height: 100%;">
        <mat-grid-list cols="8" rowHeight="38px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-icon-button (click)="backClicked()">
              <mat-icon class="menu-icon">arrow_back</mat-icon>
            </button>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="6" [rowspan]="1">
            <div class="full-width text-left" style="height: 38px;">
              <!-- <img
                src="assets\images\trdr-logo-new.png"
                alt="logo"
                class="logo"
              /> -->
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div
              *ngIf="showTradingModeIcon"
              class="trading-mode-status div-center bolder"
              style="height: 28px; width: 28px;"
            >
              {{ tradingMode }}
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-toolbar-row>
    </ng-template>

    <!-- <mat-toolbar-row style="height: 100%">
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>more_horiz</mat-icon>
    </button>

    <span class="toolbar-title">
      <img src="assets\images\enviar.png" style="width: 90px;height: auto;">
      </span>

    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <li>
          <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row> -->
  </mat-toolbar>
</ng-container>
<ng-template #noNavBar>
  <mat-toolbar color="primary" style="height: 10vh;">
    <mat-toolbar-row style="height: 100%;">
      <!-- <img src="assets\images\trdr-logo-new.png" alt="logo" class="logo" /> -->
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>
