<div>
  <h3 class="primary-color margin-bottom-10px" style="margin-top: 0px;">
    UPDATE TRADING MODE
  </h3>
  <mat-divider></mat-divider>
  <p>
    To ensure optimisation of trades, please give us 24 hrs to make this
    switch...
  </p>
  <mat-grid-list cols="10" rowHeight="52px">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <div class="full-width text-center">
        <mat-radio-group [(ngModel)]="tradingMode">
          <mat-radio-button
            value="manual"
            style="margin-bottom: 16px;"
          ></mat-radio-button>
          <mat-radio-button
            value="robo"
            style="margin-top: 16px;"
          ></mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="1">
      <mat-grid-list cols="6" rowHeight="52px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <img
            src="assets\images\male-avatar.png"
            alt="manual"
            style="height: 40px;"
          />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <h4 class="primary-color">MANUAL MODE</h4>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="1">
      <mat-grid-list cols="6" rowHeight="52px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <img
            src="assets\images\trdr-robo.png"
            alt="robo"
            style="height: 50px;"
          />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <h4 class="primary-color">ROBO MODE</h4>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
  <br />
  <mat-grid-list cols="2" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-button class="cancel-button" (click)="dialogClose()">
        CANCEL
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-flat-button color="primary" (click)="toggleModeClick()">
        CONFIRM
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
