<h3 class="primary-color no-margin">Awesome!</h3>
<h4 class="primary-color no-bottom-margin">
  Let us set up your account
</h4>
<p class="margin-top-10px margin-bottom-10px">
  Which documents should i keep ready?
</p>
<mat-grid-list cols="5" rowHeight="40px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-icon class="dark-primary-color">library_books</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <div class="full-width">
      <h5 class="no-margin">PAN Card</h5>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="5" rowHeight="25px">
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-icon class="dark-primary-color" style="margin-bottom: 20px;"
      >library_books</mat-icon
    >
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <div class="full-width">
      <h5 class="no-margin">Aadhaar Card</h5>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <div class="full-width" style="font-size: 12px;">
      Valid Aadhaar Card is mandatory
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="5" rowHeight="45px">
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-icon class="dark-primary-color" style="margin-bottom: 45px;"
      >library_books</mat-icon
    >
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <div class="full-width">
      <h5 class="no-margin">Cancelled Cheque or Bank A/C Statement</h5>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <div class="full-width" style="font-size: 12px;">
      We need a Savings account cancelled cheque as per SEBI guidelines
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-divider class="margin-top-10px"></mat-divider>
<mat-grid-list cols="5" rowHeight="65px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-checkbox [(ngModel)]="myModel"></mat-checkbox>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <div class="full-width" style="font-size: 13px;">
      I authorise <span class="primary-color bold">company</span> to conduct /
      update / fetch my KYC as required by
      <span class="primary-color bold">regulations</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<div class="text-right">
  <button mat-flat-button color="primary" (click)="okClick()">
    OK
  </button>
</div>
