<div class="pad-5-5">
  <mat-grid-list cols="6" rowHeight="30px">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="full-width">
        
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <button mat-button color="primary" (click)="nextRoute()">
        Skip<mat-icon class="primary-color">keyboard_arrow_right</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <h3 class="primary-color">Bank Details</h3>
  <div class="text-center">
    <form [formGroup]="inputForm">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Account Holder Name</mat-label>
        <input matInput formControlName="bankAccountName" />
        <mat-error>Enter Bank Account Name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Account Number</mat-label>
        <input matInput formControlName="bankAccountNumber" />
        <mat-error>Enter Bank Number</mat-error>
      </mat-form-field>
<!--       
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Bank Account Type</mat-label>
        <mat-select [formControl]="accountType">
          <mat-option *ngFor="let account of account" [value]="account.value">
            <div mat-line>
              <div class="inline-block-element">{{ account.value }}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Bank Name</mat-label>
        <input matInput formControlName="bankName" />
        <mat-error>Enter Bank Name</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>IFSC Code</mat-label>
        <input matInput formControlName="ifsc" />
        <mat-error>Enter ifsc</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Branch Name</mat-label>
        <input matInput formControlName="branchName" />
        <mat-error>Enter Branch Name</mat-error>
      </mat-form-field>
    </form>
  </div>
  <br />
</div>
<div class="bottom-fixed-div">
  <mat-grid-list cols="1" rowHeight="60px">
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-button color="primary" (click)="backPath()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-grid-tile> -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button
        mat-raised-button
        color="primary"
        class="width-90"
        (click)="submit()"
      >
        NEXT
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
